<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- Reposity Bean START -->

	<!-- Oracle Repository -->
	<bean name="productRepository" class="example.repository.OracleRepository"></bean>
	<!-- MySQL Repository -->
	<!-- <bean name="productRepository" class="example.repository.MySqlDBRepository"></bean> -->

	<!-- Reposity Bean END -->

	<!-- Service Bean START -->

	<!-- product service -->

	<bean name="productService" class="example.service.ProductServiceImpl	">
		<constructor-arg index="0" ref="productRepository"></constructor-arg>
	</bean>
	
	<!-- Service Bean END -->
</beans>